<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Crear nuevo informe:</h1>

        <form action="/ingreso/sector/:id/seguridad" method="POST">

            <select name="empresa" id="">Empresa:
                <option value=""></option>
                <option value=""></option>
            </select>

            <select name="plataforma" id="">Plataforma:
                <option value=""></option>
            </select>

            <select name="estado" id="">Estado:
                <option value=""></option>
            </select>

            <label for="">Fecha de ingreso:</label>
            <input type="date">

            <label for="">Hora de ingreso:</label>
            <input type="time">

            <select name="servicio" id="">Servicio:
                <option value=""></option>
            </select>

            <select name="interno" id="">Interno:
                <option value=""></option>
            </select>

            <select name="destino" id="">Destino:
                <option value=""></option>
            </select>

            <label for="">Fecha de salida:</label>
            <input type="date">

            <label for="">Hora de salida:</label>
            <input type="time">

            <button type="reset">Limpiar registro</button>
            <button type="submit">Crear registro</button>
        </form>
    </main>
</body>
</html>